@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 text-center fs-1 fw-bold">Nombre de los integrantes:</h1>
    <p class="text-lg-start p-2 m-1 text-uppercase">
        Gabriel Fernando García Lemus 2020-GL-602 <br/>
        Mauricio Antonio Rodríguez Jiménez 2020-RJ-601
    </p>
    
</div>
